h1 {
  text-align: center;
  color: #fff;
}


.profile-img {
  text-align: center;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;
}



.profile-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  transition: transform 0.3s ease;
}

.profile-img img.enlarged {
  transform: scale(1.2);
}


